2. Create a 1D array of numbers from 0 to 9. Desired output:

#> array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])